.recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;

    .image {
        width: clamp(250px, 40vw, 350px);
        border-radius: 7px;
    }

    .timeservings {
        display: flex;
        justify-content: space-around;
        width: 250px;        
        margin-top: 12px;
        font-size: 18px;
    }

    .recipe h2, h3 {
        text-align: center;
    }

    .recipeText {
        flex-direction: column;
        margin: 0 20px;
    }

    .recipeText h3 {
        padding: 5px 0;
        border-top: dashed 2px;
        border-bottom: dashed 2px;
    }

    .ingredients, .instructions {
        margin-bottom: 40px;
        list-style-position: inside;
        padding: 0px;

        li { 
            max-width: 350px;
            margin: 10px;
        }
    }

    @media only screen and (max-width: 800px){
        
    }
}
