.header {
    font-family: 'Lobster', cursive;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;
    background-color: #00843c;
    color: #fff;
    box-shadow: 0 0 8px 0 #000000;
    font-size: clamp(14px, 2vw, 16px);

}

.header a {
    color: #fff;
}

@media only screen and (max-width: 520px){
    .header {
        flex-direction: column;
        padding-bottom: 10px;
    }
}