.searchBox {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    border: solid #000 1px;
}

.faSearch {
    font-size: 14px;
    color: #000;
}

.searchInput {
    width: 40vw;
    text-indent: 10px;
    outline: none;
    border: none;
}

input,
::placeholder {
    font-family: 'Lobster', cursive;
    color: #000;
    font-size: 15px;
}