body {
    margin: 0;
    padding: 0;
    font-family: 'Lobster', cursive;
}

a {
    text-decoration: none;
    color: #fff;
}

.content {
    margin: 3vh 5%;
    text-align: center;
}

.content h2 {
    color: #000;
    font-size: clamp(18px, 5vw, 24px);
}

.recipes-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}